# Name: Automation_Threshold

# Description:
# Automatização do threshold.

# Author: Igor Gonçalves Ribeiro Silva
# Version: 1.0
# Date: 06/03/2021
# Requires: ImageJ 1.31s or above

# The information above may be used by a future plugin manager.

Plugins>Histology, "Threshold", Automation_Threshold("")